
:root{
    --one:#000000;
    --two:#14213D;
    --three:#FCA311;
    --four:#E5E5E5;
    --five:#344c80;
    --six:#ffffff;

}






#border{
/* border: 4px solid var(--one); */
margin: auto;
}

/* this is the work resume area blocks */
.flashcardbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

.flashcardContainer {
    display: flex;
    width: 70vh;
    height: 40vh;
    background-color: aquamarine;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

/* TODO: make the gradient mirror itself on the other side so the lightest part is in the middle... */

    background: linear-gradient(to left, rgb(84, 153, 205), rgb(50, 52, 97));
}

.innerFlashcard{
    /* border: 1px solid blueviolet; */
    width: 45%;
    height: 90% ;
    text-align: center;
    color: rgb(204, 213, 220);
}
.innerFlashcard img {
    width: 30vh;
    height: auto;
    padding-top: 70px;
    margin: auto;
    /* background-color: brown; */
}
.innerFlashcardList{
    display: flex;
    justify-content: space-around;
    list-style: armenian ;
}