body{
background-color: #E5E5E5;

}

h1{
    text-align: center;
    text-decoration: underline;
    background-color: #FFFFFF;
    
}
.nav{
background-color: #FCA311;
border: 2px solid #14213D;

}
.nav li{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    border:3px round #14213D;
}
.info {
background-color: #14213D;
color:#FFFFFF;
width: 500px;
text-indent: 20px;
margin: auto;
}
