

:root{
    --one:#000000;
    --two:#14213D;
    --three:#FCA311;
    --four:#E5E5E5;
    --five:#344c80;
    --six:#ffffff;

}
.info {
background-color: #14213D;
color:#FFFFFF;
width: 500px;
text-indent: 20px;
margin: auto;
}

.infoHeader{
height: 400px;
background-color: var(--five);
display: flex;
color: var(--six);
}
.infoHeader img{
opacity: 20%;
margin: auto;
}

#wordsinHeader{
    align-self: center;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;

}

.layoutGrid{
    display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-template-rows: repeat(2, fit-content);
   column-gap: 5%;
   row-gap: 10%;
   margin-left: 8%;
   margin-right: 8%;
   justify-content: center;
   margin-top: 8%;
   align-items: center;

}
.gridItem{
    height: fit-content;
    background-color: #14213D;
    color: #E5E5E5;
    border-radius: 8%;
    padding: 4%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 8%;

    
   

}
.gridItem p{
    width: 95%;
    margin: auto;
}

#item1 {
    grid-column: 1/4;
    grid-row: 1/2;
}
#item2 {
    grid-column: 4/6;
    grid-row: 1/2;
    margin-bottom: auto;
}
#item3 {
    grid-column: 1/3;
grid-row: 2/3;}
#item4 {
    grid-column: 3/6;
    grid-row: 2/3;
    margin-bottom: -20%;

}

