
:root{
    --one:#000000;
    --two:#14213D;
    --three:#3b7acb;
    --four:#ccdae4;
    --five:#344c80;
    --six:#ffffff;

}


body{
    background-color: var(--four);
    
    }
    
    h1{
        text-align: center;
        font-family:fantasy;
        margin: auto;
        
    }
    .nav{
    background-color: var(--three);
    /* border: 2px solid var(--two); */
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-wrap: nowrap;
    


    
    }
    a:link{
        color: var(--two);
        text-decoration: none;
        text-transform: capitalize;

        /* this will need to be rifined when i have a better color pallate */
        
        /* background-color: #E5E5E5;
        padding-top: 10px;
        padding-bottom: 10px; */
    }
    a:visited{
        color: var(--two);
    }
    a:hover{
        color: var(--six);
    }
    .nav ul{
        display: flex;
    }
    .nav li{
        list-style-type: none;
        font-size: 15px;
        padding: 20px;
        border:3px round var(--two);
        color: var(--two);
        margin-left: auto;
        margin-right: 0%;
        justify-content: end;
        align-content: end;
    }